body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background-image: url('');
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(30% - 20px);
    transition: transform 0.3s ease-in-out;
}

section:hover {
    transform: translateY(-5px);
}

h2 {
    margin-top: 0;
    color: #007bff;
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tournament-info p,
.tournament-rules ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tournament-rules ul {
    padding-left: 20px;
}

.leaderboard ol {
    padding: 0;
    list-style-type: none;
}

.leaderboard ol li {
    margin-bottom: 5px;
}

/* Enhancing the appearance of sections */

.tournament-info {
    background-color: #e9f7fe;
}

.tournament-rules {
    background-color: #f7f7f7;
}

.leaderboard {
    background-color: #f5f5f5;
}
